* {
  font-family: Arial;

}
body {
  margin: 0;
  padding: 0;
}

/* header */
header{
  display: flex;
  justify-content: center;
  height: 120px;
}
.container {
  width: 990px;
  display: flex;
  justify-content: space-between; /* itens um ao lado do outro */
}
.logo { /* alinhou a logo no meio */
  display: flex;
  align-items: center;
}
.menu {
  display:flex;
  align-items: center;
}
nav ul, nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex; /* menus um ao lado do outro */
}
nav a {
  display: block; /* para conseguir alterar a area do conteudo */
  text-decoration: none;
  padding: 15px;
  text-transform: uppercase;
  color: #727272;
}
nav .active a, nav a:hover { /* fundo azul do botão */
  background-color: #39aae1;
  color: white;
}

/* MENU BANNER */ 

#banner {
  display: flex;
  justify-content: center;
  background-image: url(../images/img1.jpg);
  background-position: center;
  background-size: cover;
  height: 670px;
}
.column {
  flex-direction: column;
}
.banner-headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-headline h1 {
  color: white;
  font-size: 70px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0;
  padding: 0;
  max-width: 350px;
}
.banner-headline h2 {
  color: white;
  font-size: 21px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0;
  padding: 0;
  max-width: 350px;
  margin-top: 30px;
}
.banner-options {
  height: 210;
  display: flex;
}
.banner-1, 
.banner-2, 
.banner-3 {
  flex: 1;
  padding: 20px;
  color: #FFFFFF;
}
.banner-1 {
  background-color: #39aae1;
}
.banner-2 {
  background-color: #0079c7;
}
.banner-3 {
  background-color: #2b4c99;
}
.banner-title {
  font-size: 21px;
}
.banner-desc {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.banner-options a {
  display: inline-block;
  border: 1px solid white;
  padding: 5px;
  color: #FFFFFF;
  font-size: 13px;
  text-decoration: none;
}
.mon-fri, .sat, .sun {
  margin: 10px;
  font-size: 12px;
}

/* Geral */ 

#geral {
  display: flex;
  justify-content: center;
}
#geral section {
  flex: 2;
}
#geral aside {
  flex: 1;
}
.widget-title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.widget-title-text {
  color: black;
  font-weight: bold;
  font-size: 21px;
}
.widget-title-bar {
  width: 50px;
  height: 2px;
  background-color: #36a9e1;
  margin-top: 10px;
}
.flex { /* Deixar as noticias uma do lado da outra */
  display: flex;
  flex-wrap: wrap; /* fazer com que quebre linhas, saindo um do lado do outro */
}
article { /* definindo todos do mesmo tamanho */ 
  flex: 1;
  min-width: 300px; /* definindo tamanho minimo */
    margin-right: 20px;
}
article a {
  text-decoration: none;
}
article .news-data {
  display: flex;
}
article .news-posted-at { /* data de postagem */
  color: white;
  font-size: 12px;
  background-color: #2b4c99;
  padding: 10px;
  margin-right: 2px;
}
article .news-comments { /* comentarios */
  color: white;
  font-size: 12px;
  background-color: #39aae1;
  padding: 10px;
}
article .news-thumbnail {
  margin-top: 30px;
}
article .news-thumbnail img { /* alterar tamanho da imagem */
  width: 100%;
  height: auto;
}
article .news-title {
  margin-top: 25px;
  margin-bottom: 25px;
  color: black;
  font-size: 23px;
}
article .news-resume {
  color: #5c5c5c;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}

/* RODAPÉ */ 

footer {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}
.footer-menu {
  display: flex;
}
.fm-1, .fm-2, .fm-3 {
  flex: 1;
  color: white;
  padding: 20px;
}
.fm-1 {
  background-color: #39aae1;
}

.fm-2 {
  background-color: #0079c7;
}

.fm-3 {
  background-color: #2b4c99;
}
.footer-area {
  display:flex;
}
.footer-areaitem {
  flex: 1;
  color: white;
}
.flexColumn {
  flex-direction: column; /* deixar um abaixo do outro */ 
}
footer .widget-title-text {
  color: white;
}
.footer-copy {
  color: #5c5c5c;
  border-top: 1px solid #2c2c2c;
  height: 40px;
  line-height: 40px;
  margin-top: 30px;
}

/* MENU MOBILE */

.menuMobile {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
  cursor: pointer;
}

.mn-line {
  height: 3px;
  background-color: #39aae1;
}

/* RESPONSIVIDADE */ 

@media (max-width: 600px) {
  .banner-headline {
    padding: 20px;
  }
  .banner-headline h1 {
    font-size: 55px;
  }
  .banner-headline h2 {
    font-size: 17px;
  }
  .banner-options {
    height: auto;
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }
  #geral section,
  #geral aside {
    padding: 20px;
  }
  .footer-menu {
    flex-direction: column;
  }
  .footer-area {
    flex-direction: column;
    padding: 20px;
  }
  .footer-copy {
    padding-left: 20px;
  }
  header .container {
    flex-direction: row;
  }
  nav ul {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    justify-content: center;
  }
  header {
    height: auto;
  }
  .logo {
    padding-left: 20px;
  }
  .menuMobile {
    display: flex;
    transition: all 0.2s linear;
    flex-direction: column;
    justify-content: space-around;
  }
}